# Quickly change to dev directory
# alias dev="cd ~/Dropbox/dev"
DEV=$HOME/dev

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Weather
alias weather='curl wttr.in'

# Get OS X Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update'

# IP addresses
alias exip="curl myipv4.millnert.se"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'wlp4s0' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Enable/Disable Spotlight
alias spotoff="sudo mdutil -a -i off"
alias spoton="sudo mdutil -a -i on"

# Lock the screen (when going AFK)
alias afk="gnome-screensaver-command -l"
# alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Speed Test
alias speedtest='echo "scale=2; `curl  --progress-bar -w "%{speed_download}" http://speedtest.wdc01.softlayer.com/downloads/test10.zip -o /dev/null` / 131072" | bc | xargs -I {} echo {} mbps'

alias pypiup='python setup.py sdist upload'


alias tmux='TERM=xterm-256color tmux'

workin () { cd "$DEV/$@"; }

compdef "_files -W $DEV" workin

workgo () { cd "$DEV/go/src/$@"; }
lsdev () { echo "$(ls $DEV)"; }
mkdev () {  mkdir "$DEV/$@"; workdev "$@"; }
mkw () { mkdev $@; workdev $@ }
ndev () {
    mkdev $@
    git init $DEV/$@
    workdev $@
}

gic () {
    git -C $DEV clone $1
    local repo_name=$(basename $1 .git)
    workdev $repo_name
}

ssh-remote-add () { cat ~/.ssh/id_ed25519.pub  | ssh "$@" 'cat > .tmp.pubkey; mkdir -p ~/.ssh; touch ~/.ssh/authorized_keys; cat .tmp.pubkey >> ~/.ssh/authorized_keys; rm .tmp.pubkey' }

alias catmd="pandoc -f markdown -t plain"

# workdev () {
#     if [ -z "$@" ]; then
#         echo "Include a dev directory"
#         return
#     else
#         dir="$DEV/$1";
#         session_name="$(echo $1 | rev | cut -d'/' -f 1 | rev | sed 's/\.//g')"


#         if tmux has-session -t $session_name 2>/dev/null; then
#             echo "Session exists"
#         else
#             tmux new-session -d -s $session_name -c "$dir"
#             tmux rename-window "Dev"
#             tmux new-window -n "Test" -c "$dir"
#             tmux split-window -v -c "$dir"
#             tmux select-window -n
#         fi

#         tmux attach -t $session_name
#     fi
# }

workdev () {
    if [ -z "$@" ]; then
        echo "Include a dev directory"
        return
    else
        dir="$DEV/$1"
        session_name="$(echo $1 | rev | cut -d'/' -f 1 | rev | sed 's/\.//g')"

        sessions=$(zellij list-sessions -s)
        for session (${(f)sessions}); do
          if [[ $session == $session_name ]]; then
              zellij attach $session_name
              return 0
          fi
        done

        template="$HOME/.config/zellij/dev.kbl"

        # cd $dir
        # zellij -s "$session_name" -n $template
        zellij options --default-cwd $dir --session-name $session_name --default-layout $template
    fi
}



obsi () {
    workdev ~/Library/Mobile\ Documents/iCloud\~md\~obsidian/Documents/Main
}

compdef "_files -W $DEV" workdev

attachdev () {
    dir="$(echo $1 | rev | cut -d'/' -f 1 | rev | sed 's/\.//g')";

    tmux attach -t "$dir"
}

compdef "_files -W $DEV" attachdev

alias vi=nvim

venv () {
    SDIR=`pwd`
    while true; do
            if [ -d venv ]; then
                echo "Sourcing env from $PWD/.venv"
                source "venv/bin/activate"
                break
            fi
            if [ -d .venv ]; then
                echo "Sourcing env from $PWD/.venv"
                source ".venv/bin/activate"
                break
            fi
            if [ -d virtualenv ]; then
                echo "Sourcing env from $PWD/virtualenv"
                source "virtualenv/bin/activate"
                break
            fi
            cd ../
            if [[ "$PWD" == "/" ]]; then
                echo "No virtual environments found."
                break
            fi
        done
    cd $SDIR
    unset SDIR
}

synk () {
    # I built this and then found out about vagrant rsync. I leave it here so
    # you can admire my understanding of regex and sed.
    #
    #
    # VAGRANT_SSH_CONFIG=$(vagrant ssh-config)
    # VAGRANT_IP=$(echo $VAGRANT_SSH_CONFIG | sed -rn 's/\s*HostName\s*([0-9.a-Z]+)/\1/p')
    # VAGRANT_PORT=$(echo $VAGRANT_SSH_CONFIG | sed -rn 's/\s*Port\s*([0-9]+)/\1/p')
    # FOLDERS=$(cat Vagrantfile | grep synced_folder | grep -v -e "#" | sed -r 's/\s*config.vm.synced_folder\s*"([~/a-Z0-9_-.]*)",\s*"([!/a-Z0-9_-.]*)".*/\1 \2/g')
    # while read -A entry; do
    #     echo "rsync -rvh ${entry[1]} vagrant@$VAGRANT_IP:${entry[2]} --delete --links --port=$VAGRANT_PORT"
    #     rsync -rvh ${entry[1]} vagrant@$VAGRANT_IP:${entry[2]} --delete --links -e "ssh -p $VAGRANT_PORT"
    # done <<< $FOLDERS
    vagrant rsync
}

alias t='$DEV/todo.txt-cli/todo.sh'

genpw() {
  local len=${1:-16}
  if ! [[ $len =~ ^[0-9]+$ ]] || (( len < 1 )); then
    printf 'Usage: genpw [length]\n' >&2
    return 1
  fi

  # Estimate bytes so base64 output is long enough after filtering:
  # need ~ceil(len * 3/4) bytes; add slack of +4 bytes
  local bytes=$(( (len * 3 + 3) / 4 + 4 ))

  openssl rand -base64 "$bytes" | tr -dc 'A-Za-z0-9!@#$%&*()-_=+' | head -c "$len"
  echo
}

today () {
    echo "\
___________________________ _______  _______ 
\\__   __/\\__   __/\\__   __/(  ___  )(  ____ \\
   ) (      ) (      ) (   | (   ) || (    \\/
   | |      | |      | |   | |   | || (__    
   | |      | |      | |   | |   | ||  __)   
   | |      | |      | |   | |   | || (      
___) (___   | |   ___) (___| (___) || )      
\\_______/   )_(   \\_______/(_______)|/       
                                             
        \
    "
    dig +short txt istheinternetonfire.com
    echo ""
    echo ""
    echo ""
    echo "\
          _______  _______ _________          _______  _______ 
|\\     /|(  ____ \\(  ___  )\\__   __/|\\     /|(  ____ \\(  ____ )
| )   ( || (    \\/| (   ) |   ) (   | )   ( || (    \\/| (    )|
| | _ | || (__    | (___) |   | |   | (___) || (__    | (____)|
| |( )| ||  __)   |  ___  |   | |   |  ___  ||  __)   |     __)
| || || || (      | (   ) |   | |   | (   ) || (      | (\\ (   
| () () || (____/\\| )   ( |   | |   | )   ( || (____/\\| ) \\ \\__
(_______)(_______/|/     \\|   )_(   |/     \\|(_______/|/   \\__/
        \
    "
    weather
}


function ag {
    echo "Tom was right. You were wrong. RG is faster. Better. In every way."
}

function opto_jpeg {
    find ./src -regextype sed -regex ".*\.jpg" | xargs -I [] convert -strip -interlace Plane -gaussian-blur 0.05 -quality 85% [] []
}

function aws-rotate-key {
    # Requires GAWK, aws-cli, RipGrep, and jq

    USER_NAME=${1:-matthew_stone}
    PROFILE=${2:-default}


    CURRENT_KEY=`cat ~/.aws/credentials | rg "\[$PROFILE\]" -A 2 | rg "aws_access_key_id\s+=\s+(.*)" -r '$1'`
    echo "Rotating from key $CURRENT_KEY. Press any key to continue..."; read -k1 -s

    NEW_KEY=`aws --profile $PROFILE iam create-access-key --user-name $USER_NAME`
    NEW_ACCESS_KEY_ID=`echo "$NEW_KEY" | jq '.AccessKey.AccessKeyId'| sed 's/\"//g'`
    NEW_SECRET_ACCESS_KEY=`echo "$NEW_KEY" | jq '.AccessKey.SecretAccessKey' | sed 's/\"//g'`

    AWK=`cat << EOF
    BEGIN {s="no"; f="no"}
    (s=="yes" && /^\[/) {f="yes"}
    /^\[$PROFILE\]/ {s="yes"}

    (s=="yes" && f=="no") {
        if (\\$0 ~ /aws_access_key_id*/) {
            print "aws_access_key_id = $NEW_ACCESS_KEY_ID"
        } else if (\\$0 ~ /aws_secret_access_key*/) {
            print "aws_secret_access_key = $NEW_SECRET_ACCESS_KEY"
        } else {
            print \\$0
        }
    }

    ((s=="no" && f=="no") || (s=="yes" && f=="yes")){
        print \\$0
    }
    EOF`

    gawk -i inplace "$AWK" ~/.aws/credentials

    echo "Acquired new key and written to credentials file. Ready to deactivate old key? Press any key to continue..."; read -k1 -s

    aws --profile $PROFILE sts get-session-token
    echo "aws --profile $PROFILE iam update-access-key --access-key-id $CURRENT_KEY --status Inactive --user-name $USER_NAME"
    aws --profile $PROFILE iam update-access-key --access-key-id $CURRENT_KEY --status Inactive --user-name $USER_NAME

    echo "Done..."
}

function aws-delete-inactive {
    USER_NAME=${1:-matthew_stone}
    PROFILE=${2:-default}

    KEYS=`aws --profile $PROFILE iam list-access-keys --user-name $USER_NAME | jq -rc '.AccessKeyMetadata | .[] | select(.Status=="Inactive") | .AccessKeyId'`
    for KEY in $KEYS
    do
        echo "Really delete $KEY?"; read -k1 -s
        aws --profile $PROFILE iam delete-access-key --user-name $USER_NAME --access-key-id $KEY
    done
}

function aws-rotate-all-keys {
    aws-delete-inactive red5 personal
    aws-rotate-key red5 personal
    aws-delete-inactive mstone bigstripe
    aws-rotate-key mstone bigstripe
}

function git_report {
    # Usage: git_report 2023-01-01 2023-12-31
    echo "Date,User,Commits,Lines of Code"

    git log --pretty="%an|%ad" --shortstat --date=short --since="$1" --until="$2" | \
    awk '
        /^ / {
            added+=$4;
            deleted+=$6;
            loc=added+deleted
        }
        !/^ / && NF == 2 { 
            if (user && date) print date "," user "," commits "," loc; 
            split($0, parts, "|")
            user=parts[1];
            date=parts[2];
            commits=0;
            loc=0;
            added=0;
            deleted=0;
        }
        /^ / { commits++ }
        END { if (user && date) print date "," user "," commits "," loc }
    '
}

function append-creation-date {
    local force=0

    # Check if the '-f' option is provided
    if [[ "$1" == "-f" ]]; then
        force=1
        shift # Remove the first argument, processing the rest as filenames
    fi

    local dir="$1" # The directory to process files in

    # Navigate to the directory
    cd "$dir" || return

    # Iterate over each file in the directory
    for file in *; do
        # Check if the file is a regular file
        if [ -f "$file" ]; then
            # Get the file's creation date on macOS, adjust for Linux if necessary
            local creationDate=$(stat -f "%SB" -t "%y-%m-%d" "$file")

            # Check if the filename already starts with a date in the format YY-MM-DD
            if ! [[ $file =~ ^[0-9]{2}-[0-9]{2}-[0-9]{2} ]]; then
                local newFileName="${creationDate} $file"

                if [ $force -eq 0 ]; then
                    # Prompt the user for confirmation if not in force mode
                    echo "Renaming $file to $newFileName, proceed? y/N"
                    read response
                    if [[ $response =~ ^[Yy]$ ]]; then
                        mv "$file" "$newFileName"
                    fi
                else
                    # Rename the file without prompting
                    mv "$file" "$newFileName"
                fi
            fi
        fi
    done
}

function upgrade-mac {
    brew upgrade
    brew upgrade --cask
    rustup update
    sudo softwareupdate -i -a
}

rgtodo() {
  if ! git rev-parse --is-inside-work-tree &>/dev/null; then
    echo "Not inside a Git repository."
    return 1
  fi

  rg --line-number --no-heading \
     --glob '!.git/**' --glob '!target/**' \
     'TODO[^:]*:' \
  | while IFS=: read -r file line raw; do
      blame=$(git blame -L "$line","$line" --date=short --line-porcelain "$file" 2>/dev/null)
      epoch=$(printf "%s" "$blame" | awk '/^author-time /{print $2}')
      if [[ -n $epoch ]]; then
        if date -u -r "$epoch" +%Y-%m-%d &>/dev/null; then
          date_str=$(date -u -r "$epoch" +%Y-%m-%d)
        else
          date_str=$(date -u -j -f "%s" "$epoch" +%Y-%m-%d)
        fi
      else
        date_str=unknown
      fi
      author=$(printf "%s" "$blame" | awk '/^author /{sub(/^author /,""); print}')
      author=${author:-unknown}

      task=$(printf "%s" "$raw" \
        | sed -E 's/.*TODO[^:]*: *//; s/^[[:space:]]+//; s/[[:space:]]+$//')

      printf "\033[1;34m%s:%s\033[0m [\033[1;32m%s by %s\033[0m] %s\n" \
             "$file" "$line" "$date_str" "$author" "$task"
    done
}

pingssh() {
  local host=$1 timeout=${2:-300}
  [[ -z $host ]] && { echo "usage: pingssh <host> [timeout_seconds]"; return 1; }

  echo "Waiting for $host..."
  ping -o -t "$timeout" "$host" >/dev/null 2>&1 && ssh "$host"
}
