layout {
    tab name="dev" {
        pane
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
    }
    tab name="play" {
        pane {
            pane
            pane
        }
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
    }
}
